<div class="container-fluid">
  <div class="alert alert-warning" role="alert">
    Liste des cours en Druft
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Titre</th>

          <th scope="col">Date de publication</th>
          <th scope="col">Statu</th>
          <th scope="col">validateBy</th>


         

        </tr>
      </thead>
      <tbody>
        <div *ngFor="let art of drufts; index as k">
          <tr>
            <th scope="row">{{k}}</th>
            <td>
              {{art.titre}}
            </td>


            <td>
              {{art.date|date}}
            </td>
            <td>
              {{art.status}}
            </td>
            <td>
              <div *ngFor="let v of art.validateBy">
                {{v.name}} {{v.lastname}}
              </div>
            </td>


            <td>
              <button type="button" class="btn btn-dark" (click)="onSelect(art._id)">Consulter</button>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning" role="alert">
    Liste des cours en attendant de modification
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Titre</th>

          <th scope="col">Date de publication</th>
          <th scope="col">Statu</th>


          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <div *ngFor="let art of pendings; index as k">
          <tr>
            <th scope="row">{{k}}</th>
            <td>
              {{art.titre}}
            </td>


            <td>
              {{art.date|date}}
            </td>
            <td>
              {{art.status}}
            </td>


            <td>
              <button type="button" class="btn btn-dark" (click)="onSelect(art._id)">Consulter</button>
            </td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning" role="alert">
      Liste des cours refusée 
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Titre</th>
  
            <th scope="col">Date de publication</th>
            <th scope="col">Statu</th>
  
  
            <th scope="col"></th>
  
          </tr>
        </thead>
        <tbody>
          <div *ngFor="let art of rejecteds; index as k">
            <tr>
              <th scope="row">{{k}}</th>
              <td>
                {{art.titre}}
              </td>
  
  
              <td>
                {{art.date|date}}
              </td>
              <td>
                {{art.status}}
              </td>
  
  
              <td>
                <button type="button" class="btn btn-dark" (click)="onSelect(art._id)">Consulter</button>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>
</div>