<div class='container'>
  <h5 class="titre">Créer un nouveau Article</h5>
  <div class='row'>
    <form>

      <div class="form-group col-md-12">
        <label>Titre:</label>
        <input [(ngModel)]='art.titre' name='titre' class="form-control" id="titre" placeholder="Titre Article">
        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]='art.categorie' name="art.categorie">
          <option selected>Choose...</option>
          <option value="Programming languages">Programming languages</option>
          <option value="Web Technologies">Web Technologies</option>
          <option value="Network & System">Network & System</option>
          <option value="Project Management">Project Management</option>
        </select>

      </div>
      <div class="form-group col-md-12">
       <!--hedhi div mte3 khalil-->

       <form [formGroup]="form">
          
          <button (click)="addChap()">Ajouter chapitre</button>
  
          <div formArrayName="chapitres" *ngFor="let chap of form.get('chapitres').controls; let i = index">
            <ng-container [formGroupName]="i">
              <input placeholder="titre du chapitre" formControlName="titre">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="contenu"></textarea>
              <button (click)="removeChap(i)">Effacer chapitre</button>
            </ng-container>
          </div>
  
        
      </form>






       <!--div mte3 khalil toufa hné-->

      </div>
      <div class="form-group col-md-12">
        <label>Ajouter une image:</label>
      </div>
      <div class="form-group col-md-12">
        <input  (change)='upImg($event)'  name='image' id="input" type="file" class="file" placeholder="telecharger une photo">
      </div>

      <div class="form-group col-md-12">
        <button type="button" class="btn btn-primary" (click)=ajArt()>Enregister</button>
      </div>

    </form>
  </div>
</div>